{{template "header.html" .}}

{{$h := .}}

<nav>
	<p>
		<a href="{{.RepoPath}}/tree/{{$.Revision}}"><strong>{{.RepoName}}</strong></a>
		{{range .Parents}} / <a href="{{$h.RepoPath}}/tree/{{$.Revision}}/{{.Path}}">{{.Name}}</a>{{end}}
		/ <strong>{{.Filename}}</strong>
	</p>
</nav>

<p>
	<a href="{{.RepoPath}}/raw/{{$.Revision}}/{{.Filepath}}" class="btn btn-sm">Raw</a>
</p>

{{if .IsBinary}}
	<div class="blankslate">
		<h3>Cannot preview file</h3>
		<p>You can download it by clicking on "Raw".</p>
	</div>
{{else}}
	{{if and .IsText .Rendered}}
		<div class="Box Box--condensed">
			<div class="Box-body markdown-body">
				{{.Rendered}}
			</div>
		</div>
	{{else if .Rendered}}
		<div class="markdown-body">
			{{.Rendered}}
		</div>
	{{else}}
		<div class="markdown-body">
			<pre><code class="language-{{.Extension}}">{{.Contents}}</code></pre>
		</div>
	{{end}}
{{end}}

{{template "footer.html"}}
