{{template "header.html" .}}

<nav>
	<p>
		<a href="/"><strong>{{.RepoName}}</strong></a>
		{{range .Parents}} / <a href="/tree/master/{{.Path}}">{{.Name}}</a>{{end}}
		/ <strong>{{.Filename}}</strong>
	</p>
</nav>

<p>
	<a href="/raw/master/{{.Filepath}}" class="btn btn-sm">Raw</a>
</p>

{{if .IsBinary}}
	<div class="blankslate">
		<h3>Cannot preview file</h3>
		<p>You can download it by clicking on "Raw".</p>
	</div>
{{else}}
	{{if .Rendered}}
		<div class="Box Box--condensed">
			<div class="Box-body markdown-body">
				{{.Rendered}}
			</div>
		</div>
	{{else}}
		<div class="markdown-body">
			<pre><code class="language-{{.Extension}}">{{.Contents}}</code></pre>
		</div>
	{{end}}
{{end}}

{{template "footer.html"}}
