{{template "header.html" .}}

{{with .Commit}}
	<div class="Box Box--blue">
		<div class="Box-header">
			<a class="btn btn-outline float-right" type="button" href="/tree/{{.Hash}}">Browse files</a>
			<h3>{{.Message}}</h3>
		</div>
		<div class="Box-body">
			<code class="float-right">{{.Hash}}</code>
			<strong>{{.Author.Name}}</strong> commited on {{.Author.When}}
		</div>
	</div>
{{end}}

<p></p>

<div class="markdown-body">
	<pre><code class="language-diff">{{.Diff}}</code></pre>
</div>

{{template "footer.html"}}
