{{template "header.html" .}}

{{if eq .DirName ""}}
	<nav class="subnav" aria-label="Repository">
		<a href="/commits/{{$.Revision}}" class="tabnav-tab">{{icon "git-commit"}} Commits</a>
		<a href="/branches" class="tabnav-tab">{{icon "git-branch"}} Branches</a>
		<a href="/tags" class="tabnav-tab">{{icon "tag"}} Tags</a>
	</nav>
{{else}}
	<nav>
		<p>
			<a href="/tree/{{$.Revision}}"><strong>{{.RepoName}}</strong></a>
			{{range .Parents}} / <a href="/tree/{{$.Revision}}/{{.Path}}">{{.Name}}</a>{{end}}
			/ <strong>{{.DirName}}</strong>
		</p>
	</nav>
{{end}}

<nav class="menu">
	{{range .Entries}}
		{{if .Mode.ToOSFileMode.IsDir}}
			<a class="menu-item" href="/tree/{{$.Revision}}{{$.DirSep}}{{.Name}}">{{icon "file-directory"}}&nbsp;{{.Name}}</a>
		{{else}}
			<a class="menu-item" href="/blob/{{$.Revision}}{{$.DirSep}}{{.Name}}">{{icon "file"}}&nbsp;{{.Name}}</a>
		{{end}}
	{{end}}
</nav>

{{if .ReadMe}}
	<div class="Box Box--condensed">
		<div class="Box-header">
			{{icon "book"}} README
		</div>
		<div class="Box-body markdown-body">
			{{.ReadMe}}
		</div>
	</div>
{{end}}

{{template "footer.html"}}
