{{template "head.html"}}

<h1>{{.RepoName}}</h1>

<nav>
	<p>
		<a href="/"><strong>{{.RepoName}}</strong></a>
		{{range .Parents}} / <a href="#">{{.}}</a>{{end}}
		{{if ne .DirName ""}} / {{.DirName}}{{end}}
	</p>
</nav>

<nav class="menu">
	{{range .Entries}}
		{{if .Mode.ToOSFileMode.IsDir}}
			<a class="menu-item" href="/tree/master{{$.DirSep}}{{.Name}}">{{icon "file-directory"}}&nbsp;{{.Name}}</a>
		{{else}}
			<a class="menu-item" href="/raw/master{{$.DirSep}}{{.Name}}">{{icon "file"}}&nbsp;{{.Name}}</a>
		{{end}}
	{{end}}
</nav>

{{template "foot.html"}}
