{{template "header.html" .}}

{{if eq .DirName ""}}
	<nav class="subnav" aria-label="Repository">
		<a href="/commits/{{$.Revision}}" class="tabnav-tab">{{icon "git-commit"}} Commits</a>
		<a href="/branches" class="tabnav-tab">{{icon "git-branch"}} Branches</a>
		<a href="/tags" class="tabnav-tab">{{icon "tag"}} Tags</a>
	</nav>
{{else}}
	<nav>
		<p>
			<a href="/tree/{{$.Revision}}"><strong>{{.RepoName}}</strong></a>
			{{range .Parents}} / <a href="/tree/{{$.Revision}}/{{.Path}}">{{.Name}}</a>{{end}}
			/ <strong>{{.DirName}}</strong>
		</p>
	</nav>
{{end}}

<div class="Box Box--condensed Box--blue">
	{{with .LastCommit}}
		<div class="Box-header">
			<span class="text-gray float-right">{{date .Author.When}}</span>
			<strong>{{.Author.Name}}</strong> <a href="/commit/{{.Hash}}" class="muted-link">{{commitSummary .Message}}</a>
		</div>
	{{end}}
	<ul>
		{{range .Entries}}
			<li class="Box-row">
				{{with .LastCommit}}
					<span class="text-gray float-right">{{date .Author.When}}</span>
				{{end}}
				{{if .Mode.ToOSFileMode.IsDir}}
					<span class="text-blue">{{icon "file-directory"}}</span>&nbsp;<a href="/tree/{{$.Revision}}{{$.DirSep}}{{.Name}}">{{.Name}}</a>
				{{else}}
					<span class="text-blue">{{icon "file"}}</span>&nbsp;<a href="/blob/{{$.Revision}}{{$.DirSep}}{{.Name}}">{{.Name}}</a>
				{{end}}
				{{with .LastCommit}}
					<a href="/commit/{{.Hash}}" class="muted-link">{{commitSummary .Message}}</a>
				{{end}}
			</li>
		{{end}}
	</ul>
</div>

{{if .ReadMe}}
	<p></p>
	<div class="Box Box--condensed">
		<div class="Box-header">
			{{icon "book"}} README
		</div>
		<div class="Box-body markdown-body">
			{{.ReadMe}}
		</div>
	</div>
{{end}}

{{template "footer.html"}}
