{{template "header.html" .}}

{{if eq .DirName ""}}
	<nav class="subnav" aria-label="Respository">
		<a href="/commits/master" class="tabnav-tab">Commits</a>
		<a href="/branches" class="tabnav-tab">Branches</a>
		<a href="/tags" class="tabnav-tab">Tags</a>
	</nav>
{{else}}
	<nav>
		<p>
			<a href="/"><strong>{{.RepoName}}</strong></a>
			{{range .Parents}} / <a href="#">{{.}}</a>{{end}}
			/ {{.DirName}}
		</p>
	</nav>
{{end}}

<nav class="menu">
	{{range .Entries}}
		{{if .Mode.ToOSFileMode.IsDir}}
			<a class="menu-item" href="/tree/master{{$.DirSep}}{{.Name}}">{{icon "file-directory"}}&nbsp;{{.Name}}</a>
		{{else}}
			<a class="menu-item" href="/raw/master{{$.DirSep}}{{.Name}}">{{icon "file"}}&nbsp;{{.Name}}</a>
		{{end}}
	{{end}}
</nav>

{{template "foot.html"}}
